/**STYLE: Template versão 4.0 **/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

@maincolor: #008EA0;

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-text-size-adjust: none;
	background: url('img/loading.gif') no-repeat center;
}

main {
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	background: #2EACD5;
	max-width: 1280px;
	max-height: 720px;
	overflow: hidden;
	margin: auto;
	font-size: 1.5em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 0 1.5em #404040;
	border-radius: 0.2em;

	img { width: 100%; display: block; }
	h1, h2, h3 { font-size: 1.5em; margin-bottom: 0.5em; color: @maincolor; text-transform: uppercase; }
	p { margin-bottom: 0.5em; }
	ul, ol { margin-left: 2em; text-align: left; }

	button {
		padding: 0.3em 2em;
		margin-top: 0.7em;
		background: @maincolor;
		border-radius: 1.3em;
		cursor: pointer;
		text-transform: uppercase;
		color: white;
		font-family: inherit;
		font-weight: bold;
		box-sizing: border-box;
		border: 0.15em solid white;
	}

	button:hover { box-shadow: 0 0.1em 0.1em #404040; }
	button:active { transform: translateY(0.1em); }

	.help {
		position: absolute;
		padding: 0.05em 0.6em;
		margin-top: 0;
		bottom: 2%;
		left: 1.4%;
		border-radius: 50%;
		background: @maincolor;
		font-size: 2.3em;
		color: white;
		z-index: 4;
		cursor: pointer;
		border: 0.08em solid white;
		text-transform: lowercase;
	}

	.dimmer {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		z-index: 6;
		display: none;

		.modal {
			position: absolute;
			background: white;
			width: 56%;
			padding: 2%;
			top: 20%;
			left: 20%;
			box-shadow: 0 0 1em black;
			border-radius: 0.5em;
			text-align: center;
		}
	}

	.content {
		position: absolute;
		z-index: 5;
		width: 100%;
		height: 100%;

		.slides {
			position: absolute;
			width: 100%;
			height: 1000%;
			overflow: hidden;

			button {
				position: absolute;
				bottom: 1.5em;
				right: 2em;
			}

			section {
				width: 100%;
				height: 10%;

				div {
					position: absolute;
					padding: 5%;
					height: 8.22%;
					width: 90%;
					text-align: center;

					p {
						margin: 4em 0;
					}
				}
			}

			section:nth-child(2), section:nth-child(3) { color: white }
			section:nth-child(3) p { width: 50%; margin-left: 2em; text-align: left; }
			section:nth-child(4) p, section:nth-child(5) p { width: 50%; margin-left: 50%; text-align: left; }
		}
	}

	.blink { animation: blink 0.5s linear infinite; }
	@keyframes blink { 50% { opacity: 0; } }
}

@media screen and (max-width: 1280px) {
	main {
		font-size: 1.8vw;
		width: 100vw;
		height: 56vw;
	}
}

@media screen and (max-height: 720px) {
	main {
		font-size: 3.3vh;
		width: 177vh;
		height: 100vh;
	}
}
